{% extends 'base.html' %}

{% block content %}
    <br>
    <a href="{% url 'books-create' %}">books create</a>
    <br>

    <table border = "1">
   <tr>
    <th>#</th>
    <th>ID</th>
    <th>Author Name</th>
    <th>Title</th>
    <th>Publish Year</th>
    <th>Review</th>
    <th>Condition</th>
    <th></th>
   </tr>
        {% for book in books_list%}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ book.id }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.publish_year }}</td>
            <td>{{ book.review }}</td>
            <td>{{ book.condition }}</td>
            <td><a href="{% url 'books-update' book.pk %}">
                Edit</a></td>
        </tr>
        {% endfor %}
  </table>
{% endblock content %}