{% extends 'base.html' %}

{% block content %}

    <table border = "1">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Book</th>
            <th>Created</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ object.id }}</td>
            <td>{{ object.book.title }}</td>
            <td>{{ object.created }}</td>
            <td>{{ object.get_status_display }}</td>
            <td>

            </td>
        </tr>
        {% endfor %}
  </table>
{% endblock content %}